@page
@using Defra.Trade.ReMoS.AssuranceService.UI.Hosting.Constants;
@model Defra.Trade.ReMoS.AssuranceService.UI.Hosting.Pages.Registration.Assurances.TermsAndConditions
@{
    ViewData["Title"] = "Terms and conditions for the Northern Ireland Retail Movement Scheme";
}

@section Back{
    <a asp-page="@Routes.Pages.Path.RegistrationCheckYourAnswersPath" asp-route-id="@Model.TraderId" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">  
        <partial name="_ErrorSummary" model="ModelState" />

        <h1 class="govuk-heading-xl">
            Terms and conditions
        </h1>

        <form class="form" method="post">
            <p>You must share the <a href="~/terms-conditions" target="_blank" rel="noopener noreferrer">full terms and conditions of the scheme</a> with the authorised representative for your business.</p>


            <p>Date of declaration: @DateTime.Now.ToString("d MMMM yyyy")</p>
            <div class="govuk-form-group @(ModelState.HasError("TandCs") ? "govuk-form-group--error" : null)">
                <p id="TandCs_Error" class="govuk-error-message" gds-validation-for="TandCs"></p>
                <div class="govuk-checkboxes__item govuk-!-margin-bottom-6">
                    <input class="govuk-checkboxes__input" id="TandCs" asp-for="TandCs" type="checkbox" value="true">
                    <label class="govuk-label govuk-checkboxes__label govuk-!-font-weight-bold" for="TandCs">
                        I confirm that @Model.PracticeName's authorised representative - @Model.AuthorisedSignatoryName has read and understood the terms and conditions of the Northern Ireland Retail Movement Scheme. @Model.AuthorisedSignatoryName is responsible for ensuring the requirements of the scheme are followed by the business.
                    </label>
                </div>
            </div>

            <button class="govuk-button" data-module="govuk-button" asp-page-handler="submit" id="button-assuranceSubmit">Submit sign up</button>
            <input type="hidden" asp-for="TraderId" />
        </form>
    </div>
</div>
