@page
@model Defra.Trade.ReMoS.AssuranceService.UI.Hosting.Pages.Registration.RegisteredBusiness.RegisteredBusinessBusinessPickerModel
@{
    ViewData["Title"] = "Pick business to sign up";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <partial name="_ErrorSummary" model="ModelState" />

        <form method="POST" novalidate>
            <input type="hidden" asp-for="TraderId" />
            <div class="govuk-form-group @(ModelState.HasError("Business") ? "govuk-form-group--error" : null)">
                <fieldset class="govuk-fieldset" aria-describedby="@(ModelState.HasError("Business") ? "Business_Error": null)">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Which business do you want to sign up for the Northern Ireland Retail Movement Scheme?
                        </h1>
                    </legend>

                    <p id="Business_Error" class="govuk-error-message" gds-validation-for="SelectedBusiness"></p>

                    <div class="govuk-form-group @(ModelState.HasError("SelectedBusiness") ? "govuk-form-group--error" : null)">
                        @if (Model.Businesses.Count > 7)
                        {
                            <select class="govuk-select" asp-for="SelectedBusiness" asp-items="@Model.BusinessSelectList"></select>
                        }
                        else
                        {
                            <div class="govuk-radios" data-module="govuk-radios">
                                @foreach (var business in Model.Businesses)
                                {
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" type="radio" asp-for="SelectedBusiness" value="@business.OrganisationId" id="@business.OrganisationId" onchange="RemoveUnregisteredBusinessError()">
                                        <label class="govuk-label govuk-radios__label" asp-for="SelectedBusiness" for="@business.OrganisationId">
                                            @business.PracticeName
                                        </label>
                                    </div>
                                }
                                <div class="govuk-radios__divider">or</div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" type="radio" asp-for="SelectedBusiness" value="Another business" id="anotherBusiness">
                                    <label class="govuk-label govuk-radios__label" asp-for="SelectedBusiness" for="anotherBusiness">
                                        Another business
                                    </label>
                                </div>
                            </div>
                        }
                    </div>
                </fieldset>
            </div>
            <button class="govuk-button" asp-page-handler="submit" id="button-rbCountrySubmit">Continue</button>
            <p>
                <a class="govuk-link" asp-page-handler="RefreshBusinesses">
                    Refresh list of businesses<span class="govuk-visually-hidden"> address</span>
                </a>
            </p>
        </form>
    </div>
</div>



