@page
@using Defra.Trade.ReMoS.AssuranceService.UI.Hosting.Constants;
@model Defra.Trade.ReMoS.AssuranceService.UI.Hosting.Pages.Registration.RegisteredBusiness.RegisteredBusinessFboNumberModel
@{
    ViewData["Title"] = "Does your business have a Food Business Operator (FBO) number?";
}

@section Back{
    @if (ViewContext.HttpContext.Request.Headers["Referer"].ToString().Contains(Routes.RegistrationCheckYourAnswers))
    {
        <a asp-page="@Routes.Pages.Path.RegistrationCheckYourAnswersPath"
           asp-route-id="@Model.OrgId"
           class="govuk-back-link">Back</a>
    }
    else
    {
        <a asp-page="@Routes.Pages.Path.RegistrationTaskListPath" asp-route-id="@Model.OrgId" class="govuk-back-link">Back to dashboard</a>
    }  
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ErrorSummary" model="ModelState" />

        <form method="POST" novalidate>
            <input type="hidden" asp-for="TradePartyId" />
            <input type="hidden" asp-for="OrgId" />
            <input type="hidden" asp-for="PracticeName" />
            <div class="govuk-form-group @(ModelState.HasError("OptionSelected") ? "govuk-form-group--error" : null)">
                <fieldset class="govuk-fieldset govuk-!-margin-bottom-5" aria-describedby="@(ModelState.HasError("OptionSelected") ? "OptionSelected_Error": null)">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Does @(Model.PracticeName) have a Food Business Operator (FBO) or Plant Health Registration (PHR) number?
                        </h1>
                    </legend>

                    <p class="govuk-hint">You will have an FBO number if you’ve registered with your local authority for a <a href="https://www.gov.uk/food-business-registration" target="_blank" rel="noopener noreferrer">food business licence</a>.</p>
                    <p class="govuk-hint">If your business has both, you only need to provide your FBO number.</p>

                    <p id="OptionSelected_Error" class="govuk-error-message" gds-validation-for="OptionSelected"></p>
                    <div class="govuk-form-group @(ModelState.HasError("OptionSelected") ? "govuk-form-group--error" : null)">
                        <div class="govuk-radios" data-module="govuk-radios" id="OptionSelected">
                            <!-- Business Has FBO -->
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" type="radio" id="OptionSelectedFbo" asp-for="OptionSelected" value="fbo" aria-controls="conditional-fbo" aria-expanded="false">
                                <label class="govuk-label govuk-radios__label" for="OptionSelectedFbo">
                                    @(Model.PracticeName) has an FBO
                                </label>
                            </div>

                            <!-- FBO NUMBER -->
                            <div class="govuk-form-group @(ModelState.HasError("FboNumber") ? "govuk-form-group--error" : null)">
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-fbo">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" asp-for="FboNumber">
                                        FBO number
                                    </label>
                                    <p id="FBO_Error" class="govuk-error-message" gds-validation-for="FboNumber"></p>
                                    <input class="govuk-input govuk-!-width-one-third" type="text" asp-for="FboNumber" spellcheck="false">
                                </div>
                            </div>
                            </div>

                            <!-- Business Has PHR -->
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" type="radio" id="OptionSelectedPhr" asp-for="OptionSelected" value="phr" aria-controls="conditional-phr" aria-expanded="false">
                                <label class="govuk-label govuk-radios__label" for="OptionSelectedPhr">
                                    @(Model.PracticeName) has a PHR
                                </label>
                            </div>

                            <!-- PHR NUMBER -->
                            <div class="govuk-form-group @(ModelState.HasError("PhrNumber") ? "govuk-form-group--error" : null)">
                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-phr">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label" asp-for="PhrNumber">
                                            PHR number
                                        </label>
                                        <p id="FBO_Error" class="govuk-error-message" gds-validation-for="PhrNumber"></p>
                                        <input class="govuk-input govuk-!-width-one-third" type="text" asp-for="PhrNumber" spellcheck="false">
                                    </div>
                                </div>
                            </div>

                            <div class="govuk-radios__divider">or</div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="OptionSelectedNone" asp-for="OptionSelected" type="radio" value="none">
                                <label class="govuk-label govuk-radios__label" for="OptionSelectedNone">
                                    @(Model.PracticeName) does not have either of these numbers
                                </label>
                            </div>

                        </div>
                    </div>
                </fieldset>
                <button class="govuk-button" data-module="govuk-button" asp-page-handler="submit" id="btnFboSubmit">Save and continue</button>
                <button class="govuk-button govuk-button--secondary" asp-page-handler="save" id="btnFboSave" style="display: none">Save and return to dashboard</button>
            </div>
        </form>


    </div>
</div>

@section Scripts 
{
    <script>
        (function(){
            var rbFboSelection = document.getElementById("OptionSelectedFbo");
            var rbPhrSelection = document.getElementById("OptionSelectedPhr");
            var rbNoneSelection = document.getElementById("OptionSelectedNone");
            rbFboSelection.addEventListener('change', toggleSaveAndReturnToDashboardButton);
            rbPhrSelection.addEventListener('change', toggleSaveAndReturnToDashboardButton);
            rbNoneSelection.addEventListener('change', toggleSaveAndReturnToDashboardButton);
            toggleSaveAndReturnToDashboardButton();
        })();
        function toggleSaveAndReturnToDashboardButton(){
            var btnSaveAndReturnToDashboard = document.getElementById("btnFboSave");
            if (isFboOrPhrSelected()){
                btnSaveAndReturnToDashboard.style.display = 'inline-block';
            }
            else{
                btnSaveAndReturnToDashboard.style.display = 'none';
            }
        };
        function isFboOrPhrSelected(){
            if (document.getElementById("OptionSelectedFbo").checked || document.getElementById("OptionSelectedPhr").checked) {
                return true;
            }
            return false;
        };
    </script>
}