@page
@using Defra.Trade.ReMoS.AssuranceService.UI.Domain.Constants;
@model Defra.Trade.ReMoS.AssuranceService.UI.Hosting.Pages.Registration.RegisteredBusiness.RegisteredBusinessFboNumberModel
@{
    ViewData["Title"] = "Enter FBO Number";
}

@section Back{
    @if (ViewContext.HttpContext.Request.Headers["Referer"].ToString().Contains(Routes.RegistrationCheckYourAnswers))
    {
        <a asp-page="@Routes.Pages.Path.RegistrationCheckYourAnswersPath"
           asp-route-id="@Model.TraderId"
           class="govuk-back-link">Back</a>
    }
    else
    {
        <a asp-page="@Routes.Pages.Path.RegisteredBusinessCountryPath" asp-route-id="@Model.TraderId" class="govuk-back-link">Back</a>
    }  
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ErrorSummary" model="ModelState" />

        <form method="POST" novalidate>
            <input type="hidden" asp-for="TraderId" />
            <div class="govuk-form-group @(ModelState.HasError("OptionSelected") ? "govuk-form-group--error" : null)">
                <fieldset class="govuk-fieldset govuk-!-margin-bottom-5" aria-describedby="@(ModelState.HasError("OptionSelected") ? "OptionSelected_Error": null)">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Does your business have a Food Business Operator (FBO) number?
                        </h1>
                    </legend>

                    <p class="govuk-hint">You will have one if you've registered with your local authority for a <a href="https://www.gov.uk/food-business-registration" target="_blank" rel="noopener noreferrer">food business license</a>.</p>
                    <p id="OptionSelected_Error" class="govuk-error-message" gds-validation-for="OptionSelected"></p>


                    <div class="govuk-radios" data-module="govuk-radios" id="OptionSelected">

                        <!-- YES -->
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" type="radio" id="OptionSelectedYes" asp-for="OptionSelected" value="yes" aria-controls="conditional-fbo" aria-expanded="false">
                            <label class="govuk-label govuk-radios__label" for="OptionSelectedYes">
                                Yes
                            </label>
                        </div>

                        <!-- FBO NUMBER -->
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-fbo">
                            <div class="govuk-form-group">
                                <label class="govuk-label" asp-for="FboNumber">
                                    FBO number
                                </label>
                                <input class="govuk-input govuk-!-width-one-third" type="text" asp-for="FboNumber" spellcheck="false" autocomplete="email">
                            </div>
                        </div>

                        <!-- NO -->
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" type="radio" id="OptionSelectedNo" asp-for="OptionSelected" value="no">
                            <label class="govuk-label govuk-radios__label" for="OptionSelectedNo">
                                No
                            </label>
                        </div>

                    </div>
                </fieldset>
                <button class="govuk-button" data-module="govuk-button" asp-page-handler="submit" id="button-rbFboSubmit">Continue</button>
            </div>
        </form>


    </div>
</div>