@page
@using Defra.Trade.ReMoS.AssuranceService.UI.Domain.Constants;
@model Defra.Trade.ReMoS.AssuranceService.UI.Hosting.Pages.Registration.RegisteredBusiness.RegisteredBusinessNameModel
@{
    ViewData["Title"] = "Enter Business Name";
}

@section Back{
    @if (ViewContext.HttpContext.Request.Headers["Referer"].ToString().Contains(Routes.RegistrationCheckYourAnswers))
    {
        <a asp-page="@Routes.Pages.Path.RegistrationCheckYourAnswersPath"
           asp-route-id="@Model.TradePartyId"
           class="govuk-back-link">Back</a>
    }
    else
    {
        <a asp-page="@Routes.Pages.Path.RegistrationTaskListPath" asp-route-id="@Model.TradePartyId" class="govuk-back-link">Back to dashboard</a>
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ErrorSummary" model="ModelState" />

        <form method="post" novalidate>
            <input type="hidden" asp-for="TradePartyId" />
            <div class="govuk-form-group @(ModelState.HasError("Name") ? "govuk-form-group--error" : null)">
                <label for="Name">
                    <h1 class="govuk-heading-l">
                        <span class="govuk-caption-l">Business details</span>
                        Confirm your business name
                    </h1>
                </label>

                <p class="govuk-hint">Enter the business name that you selected when you started your sign-up request.</p>

                <p id="Name_Error" class="govuk-error-message" gds-validation-for="Name"></p>
                <input class="govuk-input" id="Name" asp-for="Name" type="text" />
            </div>
            <div class="govuk-button-group">
                <button class="govuk-button" asp-page-handler="submit">Save and continue</button>
                <button class="govuk-button govuk-button--secondary" asp-page-handler="save">Save and return to dashboard</button>
            </div>
            
        </form>
    </div>
</div>