@page
@using Defra.Trade.ReMoS.AssuranceService.UI.Domain.Constants;
@model Defra.Trade.ReMoS.AssuranceService.UI.Hosting.RegisteredBusinessCountryModel
@{
    ViewData["Title"] = "Enter Business Country";
}

@section Back{ 

    @if (ViewContext.HttpContext.Request.Headers["Referer"].ToString().Contains(Routes.RegisteredBusinessFboNumber))
    {
        <a asp-page="@Routes.Pages.Path.RegisteredBusinessBusinessPickerPath" 
            asp-route-id="@Model.TraderId" 
            class="govuk-back-link">Back</a>
    }
    else
    {
        <a asp-page="@Routes.Pages.Path.RegistrationTaskListPath" 
            asp-route-id="@Model.TraderId" 
            class="govuk-back-link">Back to dashboard</a>
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ErrorSummary" model="ModelState" />

        <form method="POST" novalidate>
            <input type="hidden" asp-for="TraderId" />
            <input type="hidden" asp-for="CountrySaved" />
            <div class="govuk-form-group @(ModelState.HasError("GBChosen") ? "govuk-form-group--error" : null)">
                <fieldset class="govuk-fieldset" aria-describedby="@(ModelState.HasError("GBChosen") ? "GBChosen_Error": null)">
                    <fieldset class="govuk-fieldset govuk-!-margin-bottom-5">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                What will your business do under the Northern Ireland Retail Movement Scheme?
                            </h1>
                        </legend>

                        @if (Model.CountrySaved)
                        {
                            <div class="govuk-error-summary" data-module="govuk-error-summary" id="businessPickerError">
                                <div role="alert">
                                    <h2 class="govuk-error-summary__title">
                                        You cannot change this answer
                                    </h2>
                                    <div class="govuk-error-summary__body govuk-!-margin-bottom-5">
                                        <ul class="govuk-list govuk-error-summary__list">
                                            <li>
                                                If you need to change it, contact us.
                                            </li>
                                        </ul>
                                    </div>
                                    <partial name="_ContactDetailsPartial" />
                                </div>
                            </div>
                        }

                        <div class="govuk-radios" data-module="govuk-radios">
                            <p id="GBChosen_Error" class="govuk-error-message" gds-validation-for="GBChosen"></p>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="GBChosen" type="radio" value="send" aria-controls="conditional-gb" asp-for="GBChosen" disabled="@(Model.CountrySaved)">
                                <label class="govuk-label govuk-radios__label" for="GBChosen">
                                    Send consignments from Great Britain to Northern Ireland<br>
                                </label>
                                <div class="govuk-hint govuk-radios__hint" id="gb-hint">You will only be able to enter business addresses and places of dispatch in Great Britain if you select this option.</div>
                            </div>

                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-gb">
                                <div class="govuk-form-group @(ModelState.HasError("Country") ? "govuk-form-group--error" : null)" id="Country">
                                    <fieldset class="govuk-fieldset">
                                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                            What is the location of your business' main address, for example the head office?
                                        </legend>
                                        <p id="Country_Error" class="govuk-error-message" gds-validation-for="Country"></p>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="radio-rbCountryEng" asp-for="Country" type="radio" value="England" disabled="@(Model.CountrySaved)">
                                            <label class="govuk-label govuk-radios__label" for="radio-rbCountryEng">
                                                England
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="radio-rbCountrySc" asp-for="Country" type="radio" value="Scotland" disabled="@(Model.CountrySaved)">
                                            <label class="govuk-label govuk-radios__label" for="radio-rbCountrySc">
                                                Scotland
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="radio-rbCountryWal" asp-for="Country" type="radio" value="Wales" disabled="@(Model.CountrySaved)">
                                            <label class="govuk-label govuk-radios__label" for="radio-rbCountryWal">
                                                Wales
                                            </label>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="radio-rbCountryNi" type="radio" value="recieve" asp-for="GBChosen" disabled="@(Model.CountrySaved)">
                                <label class="govuk-label govuk-radios__label" for="radio-rbCountryNi">
                                    Receive consignments from Great Britain to Northern Ireland<br>
                                </label>
                                <div class="govuk-hint govuk-radios__hint" id="ni-hint">You will only be able to enter business addresses and places of destination in Northern Ireland if you select this option.</div>
                            </div>
                        </div>
                    </fieldset>
                </fieldset>
            </div>
            <button class="govuk-button" asp-page-handler="submit">Continue</button>
        </form>

        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    What to do if you send and receive consignments
                </span>
            </summary>
            <div class="govuk-details__text">
                You will need to submit two separate sign-up requests – one for your Great Britain business and one for your Northern Ireland business.
            </div>
        </details>
    </div>
</div>

