@page
@using Defra.Trade.ReMoS.AssuranceService.UI.Domain.Constants;
@model Defra.Trade.ReMoS.AssuranceService.UI.Hosting.Pages.Establishments.AdditionalEstablishmentAddressModel
@{
    ViewData["Title"] = "Places of dispatch";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ErrorSummary" model="ModelState" />

        <form method="POST" novalidate>
            <input type="hidden" asp-for="TradePartyId" />
            <input type="hidden" asp-for="NI_GBFlag" />
            <h1 class="govuk-heading-l">
                <span class="govuk-caption-l">Establishments</span>
                @Model.ContentHeading

            </h1>
            @foreach (var location in Model.LogisticsLocations)
            {
                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title govuk-!-margin-bottom-0">@location.Name</h2>
                        <a class="govuk-link govuk-body govuk-!-margin-bottom-0"
                           asp-page-handler="RemoveEstablishment"
                           asp-route-tradepartyid="@Model.TradePartyId"
                           asp-route-establishmentId="@location.Id"
                        asp-route-NI_GBFlag="@Model.NI_GBFlag">
                            Remove
                        </a>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Address
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @(location.Address?.LineOne != null ? $"{location.Address?.LineOne}," : string.Empty)
                                    @(location.Address?.LineTwo != null ? $"{location.Address?.LineTwo}," : string.Empty)
                                    @(location.Address?.CityName != null ? $"{location.Address?.CityName}," : string.Empty)
                                    @(location.Address?.PostCode != null ? $"{location.Address?.PostCode}," : string.Empty)
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link"
                                        asp-page-handler="ChangeEstablishmentAddress"
                                        asp-route-tradepartyid="@Model.TradePartyId"
                                        asp-route-establishmentId="@location.Id"
                                        asp-route-NI_GBFlag="@Model.NI_GBFlag">
                                        Change<span class="govuk-visually-hidden"> address</span>
                                    </a>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Email address
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @location.Email
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link"
                                       asp-page-handler="ChangeEmail"
                                       asp-route-tradepartyid="@Model.TradePartyId"
                                       asp-route-establishmentId="@location.Id"
                                   asp-route-NI_GBFlag="@Model.NI_GBFlag">
                                        Change<span class="govuk-visually-hidden"> email address</span>
                                    </a>
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>
            }


            <div class="govuk-form-group @(ModelState.HasError("AdditionalAddress") ? "govuk-form-group--error" : null)">
                <fieldset class="govuk-fieldset govuk-!-margin-bottom-5" aria-describedby="@(ModelState.HasError("AdditionalAddress") ? "AdditionalAddress_Error": null)">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-margin-bottom-6">
                        <h3 class="govuk-fieldset__heading">
                            Do you want to add another place of @Model.ContentText?
                        </h3>
                    </legend>

                    <p id="AdditionalAddress_Error" class="govuk-error-message" gds-validation-for="AdditionalAddress"></p>

                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios" id="AdditionalAddress">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="add-place-of-dispatch-yes" asp-for="AdditionalAddress" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="add-place-of-dispatch-yes">
                                Yes, add another place of @Model.ContentText
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="add-place-of-dispatch-no" asp-for="AdditionalAddress" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="add-place-of-dispatch-no">
                                No, I have finished adding places of @Model.ContentText
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <button class="govuk-button" asp-page-handler="submit">Save and continue</button>            
        </form>
    </div>
</div>