@page
@using Defra.Trade.ReMoS.AssuranceService.UI.Domain.Constants;
@model Defra.Trade.ReMoS.AssuranceService.UI.Hosting.Pages.Establishments.EstablishmentNameAndAddressModel
@{
    ViewData["Title"] = "Add a place of dispatch";
}

@section Back{
    @{
        var referer = ViewContext.HttpContext.Request.Headers["Referer"].ToString();
        if (referer.Contains(Routes.RegistrationCheckYourAnswers))
        {
            <a asp-page="@Routes.Pages.Path.RegistrationCheckYourAnswersPath"
               asp-route-id="@Model.TradePartyId"
           class="govuk-back-link">Back</a>
        }
        else if (referer.Contains(Routes.AdditionalEstablishmentAddress))
        {
            <a asp-page="@Routes.Pages.Path.RegistrationTaskListPath" 
                asp-route-id="@Model.TradePartyId" 
                asp-route-NI_GBFlag="@Model.NI_GBFlag"
           class="govuk-back-link">Back to dashboard</a>
        }
        else
        {
            <a asp-page="@Routes.Pages.Path.RegistrationTaskListPath" asp-route-id="@Model.TradePartyId" class="govuk-back-link">Back to dashboard</a>
        }
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ErrorSummary" model="ModelState" />

        <form method="POST" novalidate>
            <input type="hidden" asp-for="TradePartyId" />
            <input type="hidden" asp-for="NI_GBFlag" />
            <input type="hidden" asp-for="EstablishmentId" />
            <input type="hidden" asp-for="Uprn" />

            <div class="govuk-form-group @(ModelState.ErrorCount > 0 ? "govuk-form-group--error" : null)">
                <fieldset class="govuk-fieldset" aria-describedby="@(ModelState.HasError("EstablishmentName") ? "EstablishmentName": null)">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            <span class="govuk-caption-l">Establishments</span>
                            @Model.ContentHeading
                        </h1>
                    </legend>

                    @if(Model.NI_GBFlag == "GB")
                    {
                        <p class="govuk-hint">The locations which are part of your business that consignments to Northern Ireland will depart from under the scheme. You will have to provide the details for all locations, so they can be used when applying for General Certificates.</p>
                    }
                    else
                    {
                        <p class="govuk-hint">The locations in Northern Ireland which are part of your business where consignments will go after the port of entry under the scheme. You will have to provide the details for all locations, so they can be used when applying for General Certificates.</p>
                    }


                    <div class="govuk-warning-text">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                            <span class="govuk-warning-text__assistive">Warning</span>
                            You do not need to enter establishments that do not belong to your business.
                        </strong>
                    </div>

                    <div class="govuk-form-group">                        
                        <label class="govuk-label" asp-for="EstablishmentName">
                            Establishment name
                        </label>
                        <p id="EstablishmentName_Error" class="govuk-error-message" gds-validation-for="EstablishmentName"></p>
                        <input class="govuk-input" asp-for="EstablishmentName" type="text">
                    </div>

                    <div class="govuk-form-group">                        
                        <label class="govuk-label" asp-for="LineOne">
                            Address line 1
                        </label>
                        <p id="LineOne_Error" class="govuk-error-message" gds-validation-for="LineOne"></p>
                        <input class="govuk-input" asp-for="LineOne" type="text">
                    </div>

                    <div class="govuk-form-group">                        
                        <label class="govuk-label" asp-for="LineTwo">
                            Address line 2 (optional)
                        </label>
                        <p id="LineTwo_Error" class="govuk-error-message" gds-validation-for="LineTwo"></p>
                        <input class="govuk-input" asp-for="LineTwo" type="text">
                    </div>

                    <div class="govuk-form-group">                        
                        <label class="govuk-label" asp-for="CityName">
                            Town or city
                        </label>
                        <p id="CityName_Error" class="govuk-error-message" gds-validation-for="CityName"></p>
                        <input class="govuk-input govuk-!-width-two-thirds" asp-for="CityName" type="text">
                    </div>

                    <div class="govuk-form-group">                        
                        <label class="govuk-label" asp-for="County">
                            County (optional)
                        </label>
                        <p id="County_Error" class="govuk-error-message" gds-validation-for="County"></p>
                        <input class="govuk-input govuk-!-width-two-thirds" asp-for="County" type="text">
                    </div>

                    <div class="govuk-form-group">                        
                        <label class="govuk-label" asp-for="PostCode">
                            Postcode
                        </label>
                        <p id="PostCode_Error" class="govuk-error-message" gds-validation-for="PostCode"></p>
                        <input class="govuk-input govuk-input--width-10" asp-for="PostCode" type="text">
                    </div>

                </fieldset>
                <br>
            </div>
            <button class="govuk-button" asp-page-handler="submit">Save and continue</button>

            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        @Model.ContextHint
                    </span>
                </summary>
                <div class="govuk-details__text">
                    You can enter the details of your business' main address – for example, the head office.
                </div>
            </details>
        </form>
    </div>
</div>
