@page
@using Defra.Trade.ReMoS.AssuranceService.UI.Hosting.Constants;
@model Defra.Trade.ReMoS.AssuranceService.UI.Hosting.Pages.Establishments.PostcodeNoResultModel
@{
    ViewData["Title"] = "Postcode search result";
}

@section Back{
    @{
        <a asp-page="@Routes.Pages.Path.EstablishmentPostcodeSearchPath" asp-route-NI_GBFlag="@Model.NI_GBFlag" asp-route-id="@Model.OrgId" class="govuk-back-link">Back</a >
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" action="points-of-departure-add" method="post">
            <h1 class="govuk-heading-l">
                <span class="govuk-caption-l">Establishments</span>
                @Model.ContentHeading
            </h1>
            <p class="govuk-hint" id="points-of-departure-address-select">@Model.ContentText</p>

            <p class="govuk-!-margin-top-8">0 results for <span class="govuk-!-font-weight-bold">@Model.Postcode</span> in <span class="govuk-!-font-weight-bold">@Model.ContentCountry</span></p>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <p>If you cannot find the address for the postcode you entered, try:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>making sure you've <a asp-page=@Routes.Pages.Path.EstablishmentPostcodeSearchPath
                                       asp-route-id="@Model.OrgId"
                                       asp-route-NI_GBFlag="@Model.NI_GBFlag">
                                        entered the postcode correctly</a></li>
                <li>
                    <a asp-page=@Routes.Pages.Path.EstablishmentNameAndAddressPath
                       asp-route-id="@Model.OrgId"
                       asp-route-NI_GBFlag="@Model.NI_GBFlag">
                        enter the full establishment address
                    </a>
                </li>
            </ul>


        </form>

    </div>
</div>
