@page
@using Defra.Trade.ReMoS.AssuranceService.UI.Domain.Constants;
@model Defra.Trade.ReMoS.AssuranceService.UI.Hosting.RegisteredBusinessContactNameModel
@{
    ViewData["Title"] = "Enter Business Contact Name";
}

@section Back{
    @if (ViewContext.HttpContext.Request.Headers["Referer"].ToString().Contains(Routes.RegistrationCheckYourAnswers))
    {
        <a asp-page="@Routes.Pages.Path.RegistrationCheckYourAnswersPath"
           asp-route-id="@Model.TradePartyId"
           class="govuk-back-link">Back</a>
    }
    else{
    <a asp-page="@Routes.Pages.Path.RegistrationTaskListPath" asp-route-id="@Model.TradePartyId" class="govuk-back-link">Back</a>
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ErrorSummary" model="ModelState" />

        <form method="post" novalidate>
            <input type="hidden" asp-for="TradePartyId" />
            <input type="hidden" asp-for="ContactId" />
            <div class="govuk-form-group @(ModelState.HasError("Name") ? "govuk-form-group--error" : null)">
                <label for="Name">
                    <h1 class="govuk-heading-l">
                        <span class="govuk-caption-l">Contact details</span>
                        Full name
                    </h1>
                </label>
                <p class="govuk-hint" id="name-hint">
                    The name of the contact person at the business responsible for Northern Ireland Retail Movement Scheme movements.
                </p>
                               
                <p id="Name_Error" class="govuk-error-message" gds-validation-for="Name"></p>
                <input class="govuk-input" asp-for="Name" id="Name" type="text">
                
            </div>
            <div class="govuk-form-group">
                <button asp-page-handler="submit" class="govuk-button" id="buttonContactNameSubmit">Save and continue</button>
                <button asp-page-handler="save" class="govuk-button govuk-button--secondary" id="buttonContactNameSave">Save and return to dashboard</button>
            </div>
        </form>
    </div>
</div>