@page
@using Defra.Trade.ReMoS.AssuranceService.UI.Hosting.Constants;
@model Defra.Trade.ReMoS.AssuranceService.UI.Hosting.Pages.Registration.RegisteredBusiness.AuthorisedSignatory.AuthorisedSignatoryNameModel
@{
    ViewData["Title"] = "Who is the authorised representative at your business?";
}

@section Back{
    @if (ViewContext.HttpContext.Request.Headers["Referer"].ToString().Contains(Routes.RegistrationCheckYourAnswers))
    {
        <a asp-page="@Routes.Pages.Path.RegistrationCheckYourAnswersPath" asp-route-id="@Model.OrgId" class="govuk-back-link">Back</a>
    }
    else
    {
        <a asp-page="@Routes.Pages.Path.RegistrationTaskListPath" asp-route-id="@Model.OrgId" class="govuk-back-link">Back to dashboard</a>
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ErrorSummary" model="ModelState" />

        <form method="post" novalidate>
            <div class="govuk-form-group @(ModelState.HasError("Name") ? "govuk-form-group--error" : null)">
                <label for="Name">
                    <h1 class="govuk-heading-l">
                        <span class="govuk-caption-l">Contact details</span>
                        Who is the authorised representative at @(Model.BusinessName)?
                    </h1>
                </label>
                <p class="govuk-hint" id="authorised-signatory-name-hint">
                    The authorised representative is the person who is authorised to sign legal documents on behalf of @Model.BusinessName.
                </p>
                <div class="govuk-form-group">
                    <p id="name_Error" class="govuk-error-message" gds-validation-for="Name"></p>
                    <input class="govuk-input" id="Name" asp-for="Name" type="text">
                </div>
            </div>
            <div class="govuk-button-group">
                <button class="govuk-button" asp-page-handler="submit">Save and continue</button>
                <button class="govuk-button govuk-button--secondary" asp-page-handler="save">Save and return to dashboard</button>
            </div>
            <input type="hidden" asp-for="TradePartyId" />
            <input type="hidden" asp-for="OrgId" />
        </form>
    </div>
</div>