@page
@using Defra.Trade.ReMoS.AssuranceService.UI.Domain.Constants;
@model Defra.Trade.ReMoS.AssuranceService.UI.Hosting.Pages.Registration.RegisteredBusiness.AuthorisedSignatory.IsAuthorisedSignatoryModel
@{
    ViewData["Title"] = $"Is the contact person the authorised representative at {Model.BusinessName}?";
}

@section Back{
    @if (ViewContext.HttpContext.Request.Headers["Referer"].ToString().Contains(Routes.RegistrationCheckYourAnswers))
    {
        <a asp-page="@Routes.Pages.Path.RegistrationCheckYourAnswersPath"
           asp-route-id="@Model.TradePartyId"
           class="govuk-back-link">Back</a>
    }
    else{
        <a asp-page="@Routes.Pages.Path.RegistrationTaskListPath" asp-route-id="@Model.TradePartyId" class="govuk-back-link">Back to dashboard</a>
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ErrorSummary" model="ModelState" />

        
        <form method="POST" novalidate>
            <input type="hidden" asp-for="TradePartyId" />
            <div class="govuk-form-group @(ModelState.HasError("IsAuthorisedSignatory") ? "govuk-form-group--error" : null)">
                <fieldset class="govuk-fieldset govuk-!-margin-bottom-5" aria-describedby="@(ModelState.HasError("IsAuthorisedSignatory") ? "IsAuthorisedSignatory_Error": null)">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            <span class="govuk-caption-l">Contact details</span>
                            Is the contact person the authorised representative at @Model.BusinessName?
                        </h1>
                    </legend>

                    <p id="IsAuthorisedSignatory_Error" class="govuk-error-message" gds-validation-for="IsAuthorisedSignatory"></p>
                    
                    <p class="govuk-hint" id="signatory-details-hint">
                        The authorised representative is the person who is authorised to sign legal documents on behalf of the company. This is the person who will accept the <a href="~/terms-conditions" target="_blank" rel="noopener noreferrer">terms and conditions of the scheme</a>.
                    </p>
                    
                    <div class="govuk-radios" data-module="govuk-radios" id="IsAuthorisedSignatory">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="business-type" asp-for="IsAuthorisedSignatory" type="radio" value="true">
                            <label class="govuk-label govuk-radios__label" for="business-type">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="business-type-2" asp-for="IsAuthorisedSignatory" type="radio" value="false">
                            <label class="govuk-label govuk-radios__label" for="business-type-2">
                                No, a different person is the authorised representative
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <button class="govuk-button" asp-page-handler="submit" id="button-rbNatureSubmit">Save and continue</button>
                <button class="govuk-button govuk-button--secondary" asp-page-handler="save" id="button-rbNatureSave">Save and return to dashboard</button>
            </div>
            <input type="hidden" asp-for="TradePartyId" />
        </form>
    </div>
</div>