@page
@using Defra.Trade.ReMoS.AssuranceService.UI.Domain.Constants;
@model Defra.Trade.ReMoS.AssuranceService.UI.Hosting.Pages.TaskList.RegistrationTaskListModel
@{
    string GetStatusColour(string progressStatus)
    {
        switch(progressStatus)
        {
            case "Completed":
                return "green";                
            case "In Progress":
                return "yellow";
            default:
                return "grey";
        }
    }
}

<div class="govuk-grid-row" id="signUpTaskList">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Sign up for the Northern Ireland Retail Movement Scheme
        </h1>

        @if (Model.ReviewAnswers == TaskListStatus.CANNOTSTART)
        {
            <h2 class="govuk-heading-s govuk-!-margin-bottom-4" id="signUpStatus">Sign up incomplete</h2>
        }
        
        <ol class="app-task-list">
            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">1. </span> Business details
                </h2>
                <ul class="app-task-list__items">
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a asp-page=@Routes.Pages.Path.RegisteredBusinessCountryPath asp-route-id="@Model.RegistrationID" aria-describedby="eligibility">
                                Check eligibility
                            </a>
                        </span>
                        <strong class="govuk-tag app-task-list__tag govuk-tag--@GetStatusColour(Model.EligibilityStatus)" id="eligibility">@Model.EligibilityStatus</strong>
                    </li>

                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a asp-page="@Routes.Pages.Path.RegisteredBusinessNamePath" asp-route-id="@Model.RegistrationID" aria-describedby="business-details">
                                Business details
                            </a>
                        </span>
                        <strong class="govuk-tag app-task-list__tag govuk-tag--@GetStatusColour(Model.BusinessDetails)" id="business-details">@Model.BusinessDetails</strong>
                    </li>
                </ul>
            </li>

            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">2. </span> Contact details
                </h2>
                <ul class="app-task-list__items">
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a asp-page=@Routes.Pages.Path.RegisteredBusinessContactNamePath asp-route-id="@Model.RegistrationID" aria-describedby="contact-details">
                                Contact person
                            </a>
                        </span>
                        <strong class="govuk-tag app-task-list__tag govuk-tag--@GetStatusColour(Model.ContactDetails)" id="contact-details">@Model.ContactDetails</strong>
                    </li>

                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a asp-page=@Routes.Pages.Path.AuthorisedSignatoryDetailsPath asp-route-id="@Model.RegistrationID" aria-describedby="authorised-signatory-details">
                                Authorised signatory
                            </a>
                        </span>
                        <strong class="govuk-tag app-task-list__tag govuk-tag--@GetStatusColour(Model.AuthorisedSignatoryDetails)" id="authorised-signatory-details">@Model.AuthorisedSignatoryDetails</strong>
                    </li>
                </ul>
            </li>

            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">3. </span> Establishments
                </h2>
                <ul class="app-task-list__items">
                    @if (Model.Country != "NI")
                    {
                        <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                                @if (Model.EstablishmentsAdded)
                                {
                                    <a asp-page=@Routes.Pages.Path.AdditionalEstablishmentAddressPath
                                       asp-route-id="@Model.RegistrationID"
                                       asp-route-NI_GBFlag="GB"
                                       aria-describedby="establistment-dispatch">
                                        Places of dispatch
                                    </a>
                                }
                                else
                                {
                                    <a asp-page=@Routes.Pages.Path.EstablishmentNameAndAddressPath
                                       asp-route-id="@Model.RegistrationID"
                                       asp-route-NI_GBFlag="GB"
                                       aria-describedby="establistment-dispatch">
                                        Places of dispatch
                                    </a>
                                }
                            </span>
                            <strong class="govuk-tag app-task-list__tag govuk-tag--@GetStatusColour(Model.PlacesOfDispatch)"
                            id="establistment-dispatch">
                                @Model.PlacesOfDispatch
                            </strong>
                        </li>
                    }
                    @if (Model.Country == "NI")
                    {
                        <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                                @if (Model.EstablishmentsAdded)
                                {
                                    <a asp-page=@Routes.Pages.Path.AdditionalEstablishmentAddressPath
                                       asp-route-id="@Model.RegistrationID"
                                       asp-route-NI_GBFlag="NI"
                                       aria-describedby="establistment-destination">
                                        Places of destination
                                    </a>
                                }
                                else
                                {
                                    <a asp-page=@Routes.Pages.Path.EstablishmentNameAndAddressPath
                                       asp-route-id="@Model.RegistrationID"
                                       asp-route-NI_GBFlag="NI"
                                       aria-describedby="establistment-destination">
                                        Places of destination
                                    </a>
                                }
                            </span>
                            <strong class="govuk-tag app-task-list__tag govuk-tag--@GetStatusColour(Model.PlacesOfDestination)"
                            id="establistment-destination">
                                @Model.PlacesOfDestination
                            </strong>
                        </li>
                    }
                </ul>
            </li>

            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">4. </span> Check and submit sign up
                </h2>
                <ul class="app-task-list__items">
                    <li class="app-task-list__item">
                        <span id="checkNotComplete">
                            @if (Model.ReviewAnswers == TaskListStatus.CANNOTSTART)
                            {
                                <span class="app-task-list__task-name">
                                    Check answers and submit sign up
                                </span>
                            }
                            else
                            {
                                <a asp-page=@Routes.Pages.Path.RegistrationCheckYourAnswersPath asp-route-id="@Model.RegistrationID" aria-describedby="complete_submit">
                                    Check answers and submit sign up
                                </a>
                            }     
                            <strong class="govuk-tag app-task-list__tag govuk-tag--@GetStatusColour(Model.ReviewAnswers)" id="complete_submit">@Model.ReviewAnswers</strong>
                        </span>
                    </li>
                </ul>
            </li>


        </ol>
    </div>
    <input type="hidden" asp-for="RegistrationID" />
</div>