@page
@using Defra.Trade.ReMoS.AssuranceService.UI.Hosting.Constants;
@model Defra.Trade.ReMoS.AssuranceService.UI.Hosting.Pages.SelfServe.EligibilityRegulationsModel
@{
    ViewData["Title"] = "Requirements – Move goods under NI Retail Movement Scheme";
}

@section Back{

    <a asp-page="@Routes.Pages.Path.SelfServeConfirmEstablishmentDetailsPath" class="govuk-back-link"
       asp-route-id="@Model.OrgId"
       asp-route-locationId="@Model.EstablishmentId"
       asp-route-NI_GBFlag="@Model.NI_GBFlag">
        Back
    </a>

}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ErrorSummary" model="ModelState" />
        
        <form method="POST" novalidate>
            
            <input type="hidden" asp-for="OrgId" />
            <input type="hidden" asp-for="EstablishmentId" />
            <input type="hidden" asp-for="NI_GBFlag" />
            
            <h1 class="govuk-heading-l">
                <span class="govuk-caption-l">Establishments</span>
                Requirements of the NI Retail Movement Scheme
            </h1>

            <h2 class="govuk-heading-m">Signing up for the scheme</h2>

            <p class="govuk-body">You must inform us if there are any changes to the information that you provide when you're signing up for the scheme.</p>
            <p class="govuk-body">The places of dispatch and places of destination for all consignments must be registered for the scheme.</p>
            
            <h2 class="govuk-heading-m">Goods that you can move under the scheme</h2>
            <p class="govuk-body">This service is only for retail food goods that will be sold in Northern Ireland to the final consumer.</p>
            <p class="govuk-body">All goods moved under the scheme must (one of the following):</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>originate in Great Britain </li>
                <li>be processed in Great Britain</li>
                <li>originate in the EU</li>
                <li>be on the list of <a href="https://www.gov.uk/government/publications/retail-movement-scheme-how-the-scheme-will-work/retail-movement-scheme-how-the-scheme-will-work#product-eligibility" rel="noopener noreferrer" target="_blank">Rest of World Goods (opens in a new tab)</a></li>
            </ul>
            <p class="govuk-body">The goods must also follow any relevant <a href="https://www.gov.uk/guidance/labelling-requirements-for-certain-products-moving-from-great-britain-to-retail-premises-in-northern-ireland-under-the-retail-movement-scheme" rel="noopener noreferrer" target="_blank">labelling requirements (opens in a new tab)</a> in accordance with the scheme.</p>
            <p class="govuk-body">Goods moved under the scheme must not enter the EU after arriving in Northern Ireland.</p>

            <h2 class="govuk-heading-m">Sending consignments under the scheme</h2>
            <p class="govuk-body">To move consignments under the scheme, you must submit a packing list with your General Certificate. You will also need:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>an approved General Certificate</li>
                <li>a commercial seal with a unique identifier and associated number</li>
            </ul>
            <p class="govuk-body">
                All businesses moving, handling or receiving consignments under the scheme must comply with the <a asp-page="@Routes.Pages.Path.TermsAndConditionsPath" rel="noopener noreferrer" target="_blank">terms and conditions (opens in a new tab)</a> of the scheme.
                Competent authorities may conduct checks on any consignments.</p>

            <p class="govuk-body">For a period of 5 years from the date of dispatch, you must keep records of all consignments moved under the scheme.</p>

            <h2 class="govuk-heading-m">HMRC customs requirements</h2>
            <p class="govuk-body">The usual customs requirements will still apply to all consignments moved under the scheme.</p>

            <h2 class="govuk-heading-m">Privacy notice</h2>
            <p class="govuk-body">To learn more about the personal data that we collect, you can read the <a href="/privacy-policy" target="_blank" rel="noopener noreferrer">privacy notice (opens in a new tab)</a>.</p>

            <div class="govuk-button-group">
                <button class="govuk-button" asp-page-handler="submit">@Model.ButtonText</button>
            </div>
        </form>

    </div>
</div>