@page
@using Defra.Trade.ReMoS.AssuranceService.UI.Hosting.Constants;
@model Defra.Trade.ReMoS.AssuranceService.UI.Hosting.Pages.SelfServe.PostcodeResultModel
@{
    ViewData["Title"] = "Postcode search result";
}

@section Back{
    <a class="govuk-back-link"
       asp-page="@Routes.Pages.Path.SelfServeEstablishmentPostcodeSearchPath"
       asp-route-id="@Model.OrgId"
   asp-route-NI_GBFlag="@Model.NI_GBFlag">
        Back
    </a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" method="post">
            @if (!ModelState.IsValid)
            {
                if (ModelState.Any(x => x.Key == nameof(Model.EstablishmentsList)))
                {
                    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
                        <h2 class="govuk-error-summary__title" id="error-summary-title">
                            There is a problem
                        </h2>
                        <div class="govuk-error-summary__body">
                            <ul class="govuk-list govuk-error-summary__list">
                                @foreach (var modelError in ModelState.Where(x => x.Key == nameof(Model.EstablishmentsList)))
                                {
                                    <li>
                                        No addresses found for this postcode. Try searching for
                                        <a asp-page="@Routes.Pages.Path.EstablishmentPostcodeSearchPath"
                                           asp-route-id="@Model.OrgId"
                                           asp-route-NI_GBFlag="@Model.NI_GBFlag">
                                            a different postcode
                                        </a>
                                        or
                                        <a asp-page=@Routes.Pages.Path.EstablishmentNameAndAddressPath
                                           asp-route-id="@Model.OrgId"
                                           asp-route-NI_GBFlag="@Model.NI_GBFlag">
                                            enter an address manually.
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                }
                else
                {
                    <partial name="_ErrorSummary" model="ModelState" />
                }
            }


            <input type="hidden" asp-for="OrgId" />
            <input type="hidden" asp-for="TradePartyId" />
            <input type="hidden" asp-for="NI_GBFlag" />
            <h1 class="govuk-heading-l">
                <span class="govuk-caption-l">Establishments</span>
                @Model.ContentHeading
            </h1>

            <p class="govuk-body govuk-hint">@Model.ContentText</p>

            <p class="govuk-body govuk-hint">You need to provide the details of all the establishments your business uses so they can be added when applying for General Certificates.</p>

            <p class="govuk-body govuk-inset-text">
                All businesses moving, handling or receiving consignments under the scheme must comply with the <a asp-page="@Routes.Pages.Path.TermsAndConditionsPath" rel="noopener noreferrer" target="_blank">terms and conditions (opens in a new tab)</a> of the scheme.
                Competent authorities may conduct checks on any consignments.
            </p>

            <div class="govuk-form-group">
                <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Establishment postcode</h2>
                <p class="govuk-body">
                    <span>@Model.Postcode</span>
                    <a asp-page=@Routes.Pages.Path.SelfServeEstablishmentPostcodeSearchPath
                       asp-route-id="@Model.OrgId"
                       asp-route-NI_GBFlag="@Model.NI_GBFlag">
                        Change
                    </a>
                </p>

                <div class="govuk-form-group">
                    <label class="govuk-label govuk-!-font-weight-bold" for="places-of-dispatch-address-select">Select an address</label>
                    <select class="govuk-select" id="places-of-dispatch-address-select" asp-for="@Model.SelectedEstablishment" asp-items="@Model.EstablishmentsList"></select>
                </div>
            </div>

            <button class="govuk-button" disabled="@Model.IsSubmitDisabled" asp-page-handler="submit">Select address</button>

            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Cannot find establishment
                    </span>
                </summary>
                <div class="govuk-details__text">
                    You can <a asp-page=@Routes.Pages.Path.SelfServeEstablishmentNameAndAddressPath
                               asp-route-id="@Model.OrgId"
                               asp-route-NI_GBFlag="@Model.NI_GBFlag"
                               asp-route-backPostcode="@Model.Postcode">
                        enter the full establishment address
                    </a>
                </div>
            </details>

        </form>

    </div>
</div>
