@page
@using Defra.Trade.ReMoS.AssuranceService.UI.Hosting.Constants;
@model Defra.Trade.ReMoS.AssuranceService.UI.Hosting.Pages.SelfServe.SelfServeDashboardModel

@{
    ViewData["Title"] = "Self serve dashboard";
}

@section Back{
    <a asp-page="@Routes.Pages.Path.BusinessListPath" class="govuk-back-link">Back</a>
}

<form method="post">
    <input type="hidden" asp-for="OrgId" />
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">
                <span class="govuk-caption-l">Northern Ireland Retail Movement Scheme</span>
                @Model.BusinessName
            </h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <dl class="govuk-summary-list">

                <!-- Status -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Status
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @if (Model.ApprovalStatus == 1)
                        {
                            <div class="govuk-tag govuk-tag--green">
                                Approved for NIRMS
                            </div>
                        }
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <span class="govuk-visually-hidden">Blank cell</span>
                    </dd>
                </div>

                <!-- RMS Number -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Business RMS number
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.RmsNumber
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <span class="govuk-visually-hidden">Blank cell</span>
                    </dd>
                </div>

                <!-- Contact person -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Contact person
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.ContactName<br>
                        @Model.ContactPosition<br>
                        @Model.ContactEmail<br>
                        @Model.ContactPhoneNumber

                        @if (Model.ContactLastModifiedDate > Model.ContactSubmittedDate)
                        {
                            <div class="govuk-body-s govuk-!-margin-top-2" style="color:#505a5f;">Updated @Model.ContactLastModifiedDate.ToString("dd MMM yyyy")</div>
                        }
                        else
                        {
                            <div class="govuk-body-s govuk-!-margin-top-2" style="color:#505a5f;">Added @Model.ContactSubmittedDate.ToString("dd MMM yyyy")</div>
                        }

                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a asp-page-handler="ChangeContactDetails"
                           asp-route-orgid="@Model.OrgId">
                            Change <span class="govuk-visually-hidden">contact person</span>
                        </a>
                    </dd>
                </div>

                <!-- Authorised representative -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Authorised representative
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.AuthSignatoryName<br>
                        @Model.AuthSignatoryPosition<br>
                        @Model.AuthSignatoryEmail<br>

                        @if (Model.AuthSignatoryLastModifiedDate > Model.AuthSignatorySubmittedDate)
                        {
                            <div class="govuk-body-s govuk-!-margin-top-2" style="color:#505a5f;">Updated @Model.AuthSignatoryLastModifiedDate.ToString("dd MMM yyyy")</div>
                        }
                        else
                        {
                            <div class="govuk-body-s govuk-!-margin-top-2" style="color:#505a5f;">Added @Model.AuthSignatorySubmittedDate.ToString("dd MMM yyyy")</div>
                        }

                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a asp-page-handler="ChangeAuthRepresentativeDetails"
                           asp-route-orgid="@Model.OrgId">
                            Change <span class="govuk-visually-hidden">authorised representative</span>
                        </a>
                    </dd>
                </div>
            </dl>
        </div>
    </div>

    <div class="govuk-button-group">
        <a class="govuk-button govuk-button--secondary"
           asp-page-handler="AddEstablishment"
           asp-route-orgid="@Model.OrgId"
           asp-route-countrychosen="@Model.Country">
            @Model.EstablishmentButtonText
        </a>
    </div>
</form>