@page
@using Defra.Trade.ReMoS.AssuranceService.UI.Hosting.Constants;
@model Defra.Trade.ReMoS.AssuranceService.UI.Hosting.Pages.SelfServe.UpdateContactModel
@{
    ViewData["Title"] = "Update Contact";
}

@section Back{
    <a asp-page="@Routes.Pages.Path.SelfServeDashboardPath" asp-route-id="@Model.OrgId" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ErrorSummary" model="ModelState" />

        <form class="form" method="post" novalidate>
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Contact person
                    </h1>
                </legend>

                @if(Model.LastModifiedOn > Model.SubmittedDate)
                {
                    <div class="govuk-body-s govuk-!-margin-top-2" style="color:#505a5f;">Updated @Model.LastModifiedOn.ToString("d MMM yyyy")</div>
                }
                else
                {
                    <div class="govuk-body-s govuk-!-margin-top-2" style="color:#505a5f;">Added @Model.SubmittedDate.ToString("d MMM yyyy")</div>
                }

                <p class="govuk-hint">This is the person who we will contact with information relating to the scheme.</p>

                <div class="govuk-form-group @(ModelState.HasError("Name") ? "govuk-form-group--error" : null)">
                    <label class="govuk-label" for="Name">
                        Name
                    </label>
                    <p id="Name_Error" class="govuk-error-message" gds-validation-for="Name"></p>
                    <input class="govuk-input" id="Name" asp-for="Name" type="text">
                </div>
                <div class="govuk-form-group @(ModelState.HasError("Position") ? "govuk-form-group--error" : null)">
                    <label class="govuk-label" for="Position">
                        Position
                    </label>
                    <p id="Position_Error" class="govuk-error-message" gds-validation-for="Position"></p>
                    <input class="govuk-input" id="Position" asp-for="Position" type="text">
                </div>
                <div class="govuk-form-group @(ModelState.HasError("Email") ? "govuk-form-group--error" : null)">
                    <label class="govuk-label" for="Email">
                        Email address
                    </label>
                    <p id="Email_Error" class="govuk-error-message" gds-validation-for="Email"></p>
                    <input class="govuk-input govuk-!-width-full" id="Email" asp-for="Email" type="email">
                </div>
                <div class="govuk-form-group @(ModelState.HasError("PhoneNumber") ? "govuk-form-group--error" : null)">
                    <label class="govuk-label" for="PhoneNumber">
                        Telephone number
                    </label>
                    <p id="Number_Error" class="govuk-error-message" gds-validation-for="PhoneNumber"></p>
                    <input class="govuk-input govuk-!-width-full" id="PhoneNumber" asp-for="PhoneNumber" type="tel">
                </div>
                <input type="hidden" asp-for="TradePartyId" />
                <input type="hidden" asp-for="OrgId" />
            </fieldset>

            <div class="govuk-button-group">
                <button asp-page-handler="submit" class="govuk-button" id="buttonSelfServeUpdateContactSubmit">Save contact person details</button>
                <a asp-page="@Routes.Pages.Path.SelfServeDashboardPath"asp-route-id="@Model.OrgId" class="govuk-link">Cancel</a>
            </div>
        </form>

    </div>
  </div>