@page "{code?}"
@model ErrorModel
@{
    ViewData["Title"] = Model.ErrorTitle;
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">@Model.ErrorTitle</h1>
                <p class="govuk-body">
                    @Model.ErrorLineOne
                </p>
                <p class="govuk-body">
                    @Model.ErrorLineTwo
                </p>
                <p class="govuk-body">
                    @Model.ErrorContactLineOne <a class="govuk-link" href="@Model.ErrorContactLink">@Model.ErrorContactTitle</a> @Model.ErrorContactLineTwo
                </p>
                </p>
            </div>
        </div>
    </main>
</div>
