@page
@using Defra.Trade.ReMoS.AssuranceService.UI.Domain.Constants;
@model Defra.Trade.ReMoS.AssuranceService.UI.Hosting.Pages.Registration.CheckYourAnswers.CheckYourAnswersModel
@{
    ViewData["Title"] = "Check Your Answers";
}

@section Back{
    <a asp-page="@Routes.Pages.Path.RegistrationTaskListPath" asp-route-id="@Model.RegistrationID" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row" id="checkYourAnswers">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" method="post" novalidate="">
            <input type="hidden" asp-for="RegistrationID" />
            <input type="hidden" asp-for="NI_GBFlag" />

            <h1 class="govuk-heading-xl">Check your answers</h1>

            <div class="govuk-inset-text">
                <p>Your Northern Ireland Retail Movement Scheme sign up is now ready to be submitted.</p>
                <p>Please check that the answers provided are correct.</p>
            </div>

            <h2 class="govuk-heading-m">Business details</h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                    Business name
                    </dt>
                    <dd class="govuk-summary-list__value" id="business-details-name">
                        @Model.TradeParty?.PartyName
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" asp-page="@Routes.Pages.Path.RegisteredBusinessNamePath" asp-route-id="@Model.RegistrationID" aria-describedby="business-details-name">
                        Edit<span class="govuk-visually-hidden"> business name</span>
                    </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                    Business address
                    </dt>
                    <dd class="govuk-summary-list__value" id="business-details-address">
                        @(Model.TradeParty?.Address?.LineOne != null ? $"{Model.TradeParty.Address?.LineOne}" : string.Empty) @if (Model.TradeParty?.Address?.LineOne != null) {<br />}
                        @(Model.TradeParty?.Address?.LineTwo != null ? $"{Model.TradeParty.Address?.LineTwo}" : string.Empty) @if (Model.TradeParty?.Address?.LineTwo != null) {<br />}
                        @(Model.TradeParty?.Address?.CityName != null ? $"{Model.TradeParty.Address?.CityName}" : string.Empty) @if (Model.TradeParty?.Address?.CityName != null) {<br />}
                        @(Model.TradeParty?.Address?.PostCode != null ? $"{Model.TradeParty.Address?.PostCode}" : string.Empty)
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" asp-page="@Routes.Pages.Path.RegisteredBusinessAddressPath" asp-route-id="@Model.RegistrationID" aria-describedby="business-details-address">
                        Edit<span class="govuk-visually-hidden"> business address</span>
                    </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                    Country
                    </dt>
                    <dd class="govuk-summary-list__value" id="business-details-country">
                        @Model.TradeParty?.Address?.TradeCountry
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" asp-page="@Routes.Pages.Path.RegisteredBusinessCountryPath" asp-route-id="@Model.RegistrationID" aria-describedby="business-details-country">
                        Edit<span class="govuk-visually-hidden"> type</span>
                    </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                    FBO number
                    </dt>
                    <dd class="govuk-summary-list__value" id="business-details-fbo">
                        @Model.TradeParty?.FboNumber
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" asp-page="@Routes.Pages.Path.RegisteredBusinessFboNumberPath" asp-route-id="@Model.RegistrationID" aria-describedby="business-details-fbo">
                        Edit<span class="govuk-visually-hidden"> EORI</span>
                    </a>
                    </dd>
                </div>
            </dl>

            <h2 class="govuk-heading-m">Contact person</h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                    Contact name
                    </dt>
                    <dd class="govuk-summary-list__value" id="business-contact-name">
                        @Model.TradeParty?.Contact?.PersonName
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" asp-page="@Routes.Pages.Path.RegisteredBusinessContactNamePath" asp-route-id="@Model.RegistrationID" aria-describedby="business-contact-name">
                        Edit<span class="govuk-visually-hidden"> contact name</span>
                    </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                    Contact position
                    </dt>
                    <dd class="govuk-summary-list__value" id="business-contact-position">
                        @Model.TradeParty?.Contact?.Position
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" asp-page="@Routes.Pages.Path.RegisteredBusinessContactPositionPath" asp-route-id="@Model.RegistrationID" aria-describedby="business-contact-position">
                        Edit<span class="govuk-visually-hidden"> contact position</span>
                    </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                    Contact email address
                    </dt>
                    <dd class="govuk-summary-list__value" id="business-contact-email">
                        @Model.TradeParty?.Contact?.Email
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" asp-page="@Routes.Pages.Path.RegisteredBusinessContactEmailPath" asp-route-id="@Model.RegistrationID" aria-describedby="business-contact-email">
                        Edit<span class="govuk-visually-hidden"> contact email address</span>
                    </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                    Contact telephone number
                    </dt>
                    <dd class="govuk-summary-list__value" id="business-contact-phone">
                        @Model.TradeParty?.Contact?.TelephoneNumber
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" asp-page="@Routes.Pages.Path.RegisteredBusinessContactPhonePath" asp-route-id="@Model.RegistrationID" aria-describedby="business-contact-phone">
                        Edit<span class="govuk-visually-hidden"> contact telephone number</span>
                    </a>
                    </dd>
                </div>
            </dl>

            <h2 class="govuk-heading-m">Authorised Signatory</h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                    Contact person is the Authorised Signatory
                    </dt>
                        @if (Model.TradeParty?.Contact?.IsAuthorisedSignatory == true)
                        {
                            <dd class="govuk-summary-list__value" id="business-authorisied-signatory">Yes</dd>
                        }
                        else
                        {
                        <dd class="govuk-summary-list__value" id="business-authorisied-signatory">No</dd>
                        }
                    <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" asp-page="@Routes.Pages.Path.AuthorisedSignatoryDetailsPath" asp-route-id="@Model.RegistrationID" aria-describedby="business-authorisied-signatory">
                        Edit<span class="govuk-visually-hidden">Authorised Signatory name</span>
                    </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Authorised Signatory name
                    </dt>
                    <dd class="govuk-summary-list__value" id="authorised-signatory-name">
                        @Model.TradeParty?.AuthorisedSignatory?.Name
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Authorised Signatory position
                    </dt>
                    <dd class="govuk-summary-list__value" id="authorised-signatory-position">
                        @Model.TradeParty?.AuthorisedSignatory?.Position
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Authorised Signatory email address
                    </dt>
                    <dd class="govuk-summary-list__value" id="authorised-signatory-email">
                        @Model.TradeParty?.AuthorisedSignatory?.EmailAddress
                    </dd>
                </div>
            </dl>

            <h2 class="govuk-heading-m">Establishments</h2>

            <h3 class="govuk-heading-s">@Model.ContentHeading</h3>

            @foreach (var location in Model.LogisticsLocations)
            {
                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title govuk-!-margin-bottom-0">@location.Name</h2>
                        <a class="govuk-link govuk-body govuk-!-margin-bottom-0"
                        asp-page-handler="RemoveEstablishment"
                        asp-route-tradepartyid="@Model.RegistrationID"
                        asp-route-establishmentId="@location.Id"
                        asp-route-NI_GBFlag="@Model.NI_GBFlag">
                            Remove
                        </a>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Address
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @(location.Address?.LineOne != null ? $"{location.Address?.LineOne}," : string.Empty)
                                    @(location.Address?.LineTwo != null ? $"{location.Address?.LineTwo}," : string.Empty)
                                    @(location.Address?.CityName != null ? $"{location.Address?.CityName}," : string.Empty)
                                    @(location.Address?.PostCode != null ? $"{location.Address?.PostCode}" : string.Empty)
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link"
                                    asp-page-handler="ChangeEstablishmentAddress"
                                    asp-route-tradepartyid="@Model.RegistrationID"
                                    asp-route-establishmentId="@location.Id"
                                    asp-route-NI_GBFlag="@Model.NI_GBFlag">
                                        Change<span class="govuk-visually-hidden"> address</span>
                                    </a>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Email address
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @location.Email
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link"
                                    asp-page-handler="ChangeEmail"
                                    asp-route-tradepartyid="@Model.RegistrationID"
                                    asp-route-establishmentId="@location.Id"
                                    asp-route-NI_GBFlag="@Model.NI_GBFlag">
                                        Change<span class="govuk-visually-hidden">email address</span>
                                    </a>
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>
            }

            <div style="text-align:right" class="govuk-!-margin-bottom-6">
                <a class="govuk-link govuk-body-m" asp-page="@Routes.Pages.Path.EstablishmentNameAndAddressPath" asp-route-id="@Model.RegistrationID" asp-route-NI_GBFlag="@Model.NI_GBFlag">
                    Add another place of @Model.ContentText
                </a>
            </div>

            
            <button class="govuk-button" asp-page-handler="submit" disabled="@(!Model.LogisticsLocations.Any())">
                Continue
            </button>

        </form>
    </div>
</div>
